{{ define "main" }}
<div class="list-container">
    {{ $paginator := where .Paginator.Pages "File.LogicalName" "!=" "about.md" }}
    {{ range $paginator }}
    <article class="list-item">
        <a href="{{ .Permalink }}" class="list-item-image">
            <img src="{{ .Params.image }}" alt="{{ .Title }}" />
        </a>
        <div class="list-item-content">
            <h2 class="list-item-title">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h2>
            <p class="list-item-summary">{{ .Summary }}</p>
            <div class="list-item-meta">
                {{ range (.GetTerms "authors") }}
                <a href="{{ .Permalink }}">
                    {{ end }}
                    <img src="{{.Params.avatar}}" loading="lazy" alt="Avatar" class="list-item-avatar">
                </a>

                {{ range (.GetTerms "authors") }}
                <a href="{{ .Permalink }}">
                    <p class="list-item-author">
                        {{ .Name }}
                        {{ end }}

                </a>
                </p>
            </div>
            <div class="list-item-tags">
                {{ range (.GetTerms "categories") }}
                <a class="list-item-tag" href="{{ .Permalink }}">{{ .Name }}</a>
                {{ end }}
            </div>
            <p class="list-item-date">{{ dateFormat .Site.Params.dateFormat .Date }}</p>
        </div>
    </article>
    {{ end }}
</div>
{{ end }}
