{{ define "main" }}
<div class="single">
  <div class="single-head">
    <div class="single-head-texts">
      <h1 class="single-head-title">{{.Title}}</h1>
      <p class="single-head-desc">{{.Params.description}}</p>
      <div class="single-head-detail">
                {{ range (.GetTerms "authors")}}
                <a href={{.Permalink}}>
                    {{ end }}
        <img src={{.Params.avatar}} loading="lazy" alt="" class="single-avatar">
                </a>

        <span>{{ range (.GetTerms "authors")}}
          <a class="single-author" href={{.Permalink}}>{{ .Name }}</a>
          {{end}}
        </span>
                <div class="single-categories">
        {{ range (.GetTerms "categories")}}
        <a href={{.Permalink}} class="single-category">{{ .Name }}</a>
        {{end}}
</div>
      </div>
      <time><b><h3>Created on:</h3></b>  {{ dateFormat .Site.Params.dateFormat .Date }}</time>
    </div>
    <img src={{ .Params.image }} alt={{.Title}} class="single-head-img">
  </div>
  <div class="single-bottom">
        <div class="single-left-bar">
          {{ partial "leftBar" .}}
        </div>
    <div class="single-content">{{ .Content }}</div>
    <div class="single-right-bar">
      {{ partial "rightBar" .}}
    </div>
  </div>
</div>
{{ end }}
